.middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.sign_in{
  background-color: #00BFFF;
  padding: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px deeppink;
  cursor: pointer;
}

.sign_in:active{
  background-color: deeppink;
}

.sign_out{
  background-color: #00BFFF;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  /* box-shadow: 5px 5px 10px deeppink; */
  cursor: pointer;
}

.sign_out:active{
  background-color: deeppink;
}

