#mode{
  background-color: red;
  border-radius: 60px;
  width: 45px;
  height: 20px;
  outline: none;
}

/* #mode::before{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
}
#mode::after{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
} */


.middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.sign_in{
  background-color: #00BFFF;
  padding: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px deeppink;
  cursor: pointer;
}

.sign_in:active{
  background-color: deeppink;
}

.sign_out{
  /* background-color: #00BFFF; */
  padding: 10px 15px;
  /* border-radius: 50%; */
  outline: none;
  border: 1px solid white;
  color: white;
  /* box-shadow: 5px 5px 10px deeppink; */
  cursor: pointer;
}

.sign_out:active{
  background-color: deeppink;
}

.custom_input-file{
  outline: none;
  border: none;
  color: transparent;
  visibility: hidden;
  width: 20px;
}
.custom_input-file::before{
  font-family: fontawesome;
  content: '\e09a';
  visibility: visible;
  width: 100%;
  height: 100%;
  color: #00BFFF;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}